#box>div{
    text-align: center;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    gap:10px;
    /* width: 95%; */
}

/* #box>div:nth-child(2){
    display: flex;
    justify-content: space-around;
} */
#box img{
    height: 200px;
    width: 100%;
}
#box1>div{
    text-align: center;
    gap: 10px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
#box1 button{
    margin: auto;
    margin-bottom: 40px;
    width: 50px;
    align-content: space-between;
}
#box1 img{
    height: 200px;
    width: 100%;
}
#box3>div{
    text-align: center;
    gap: 10px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
#box3 img{
    height: 400px;
    width: 100%;
}
#box3{
    margin: auto;
    
    /* justify-content: */
}
#see_All{
    text-align: center;
    width: 100%;
    align-self: center;
    margin: 5px;
}
#list{
    margin-top: 150px;
display: grid;
text-align: center;
grid-template-columns: repeat(4,1fr);
gap:10px
}
#list>div{
padding-bottom: 20px;
box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}
#list img{
width: 100%;
height: 200px;
}
#price{
    text-align: center;
    margin-bottom: 20px;
}